
#cookie-notice {
  padding: 0.5rem 1rem;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #343a40ff;
  color: white;
}

#cookie-notice a {
  display: inline-block;
  cursor: pointer;
  color: #4a90e2;
  
  &:hover{
    text-decoration: underline;
    color: #1f69c1;
  }

}

@media (max-width: 100%) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }

    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
}
